h1 {
  padding-top: 21rem;
  font-size: 50px;
}

body {
  background-color: rgb(0, 94, 94);
}

#nia {
  padding-top: 14rem;
}

#kedua {
  margin-top: 46rem;
  padding-top: 19rem;
}
#ketiga {
  margin-top: 46rem;
  padding-top: 15rem;
}
